@model Data.Models.ProdutoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Modelo do Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaracteristicasProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaracteristicasProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFabricacao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.IdProduto }) |
    <a asp-action="Index">Voltar para lista</a>
</div>
